
.button{
  display: flex;
  padding: 7px 13px;
  text-transform: none;
  transition: all .15s ease;
  letter-spacing: .025em;
  font-size: .875rem;
  font-weight: bold;
  will-change: transform;
  color: white;
  background-color: #5e72e4;
  border: 2px solid #5e72e4;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  cursor: pointer;

  & :disabled{
    cursor: not-allowed;
    opacity: 0.4;
  }

  &:hover {
    color: white;
    background-color: #6d80ec;
    border-color: #5e72e4;
  }
}
.outline{
  color: #5e72e4;
  background-color: transparent;
  border: 2px solid #5e72e4;

  &:hover {
    color: white;
    background-color: #5e72e4 !important;
    border-color: #5e72e4;
  }
}